.git
.gitignore
.idea
.claude
.venv
venv
.env
*.env.local

__pycache__
*.py[cod]

db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

diploma-frontend/build
diploma-frontend/dist
diploma-frontend/diploma_frontend.egg-info

docker/
README.md
vault/
